In [1]:
import pandas as pd
import numpy as np

In [2]:
# Task 1

data = {
    'TransactionID': [501, 502, 503, 504, 505],
    'TransactionDate': ['2023-12-01', '31/12/2023', 'December 15, 2023', '2023/12/20', '2023-13-01']
}

transactions_df = pd.DataFrame(data)

transactions_df['TransactionDate'] = pd.to_datetime(
    transactions_df['TransactionDate'],
    errors='coerce',
    dayfirst=True
)


transactions_df['Year'] = transactions_df['TransactionDate'].dt.year
transactions_df['Month'] = transactions_df['TransactionDate'].dt.month

transactions_df

   TransactionID TransactionDate    Year  Month
0            501      2023-01-12  2023.0    1.0
1            502             NaT     NaN    NaN
2            503             NaT     NaN    NaN
3            504             NaT     NaN    NaN
4            505      2023-01-13  2023.0    1.0

In [3]:
timestamps_df = pd.DataFrame({
    'TimestampID': [601, 602, 603, 604],
    'UnixTimestamp': [1704067200, 1704153600, 1704240000, 1704326400]
})


timestamps_df['Datetime'] = pd.to_datetime(
    timestamps_df['UnixTimestamp'],
    unit='s'
)


timestamps_df['Year'] = timestamps_df['Datetime'].dt.year
timestamps_df['Month'] = timestamps_df['Datetime'].dt.month
timestamps_df['Day'] = timestamps_df['Datetime'].dt.day
timestamps_df['Hour'] = timestamps_df['Datetime'].dt.hour


timestamps_df

   TimestampID  UnixTimestamp   Datetime  Year  Month  Day  Hour
0          601     1704067200 2024-01-01  2024      1    1     0
1          602     1704153600 2024-01-02  2024      1    2     0
2          603     1704240000 2024-01-03  2024      1    3     0
3          604     1704326400 2024-01-04  2024      1    4     0

In [4]:
dates_df = pd.DataFrame({
    'EntryID': [701, 702, 703, 704, 705],
    'DateString': ['2024-02-30', '02/28/2024', '2024/03/15', 'March 32, 2024', '2024-04-10']
})


dates_df['DateString'] = pd.to_datetime(
    dates_df['DateString'],
    errors='coerce'
)

dates_df

/tmp/ipykernel_410237/3849882520.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dates_df['DateString'] = pd.to_datetime(

   EntryID DateString
0      701        NaT
1      702 2024-02-28
2      703 2024-03-15
3      704        NaT
4      705 2024-04-10