In [6]:
import pandas as pd
import numpy as np
import time

In [ ]:
# Task 1


df_a = pd.DataFrame({
    'EmployeeID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Department': ['HR', 'Engineering', 'Marketing']
})

df_b = pd.DataFrame({
    'EmployeeID': [4, 5],
    'Name': ['David', 'Eva'],
    'Department': ['Finance', 'IT']
})


df = pd.concat([df_a, df_b], axis=0, keys=['Group_A', 'Group_B'])

df

           EmployeeID     Name   Department
Group_A 0           1    Alice           HR
        1           2      Bob  Engineering
        2           3  Charlie    Marketing
Group_B 0           4    David      Finance
        1           5      Eva           IT

In [ ]:
# Task 2


orders_df = pd.DataFrame({
    'OrderID': [1001, 1002, 1003, 1004],
    'CustomerID': [1, 2, 1, 3],
    'ProductID': [501, 502, 503, 504],
    'Quantity': [2, 1, 5, 3]
})

customers_df = pd.DataFrame({
    'CustomerID': [1, 2, 3, 4],
    'CustomerName': ['Alice', 'Bob', 'Charlie', 'David']
})


merged_df = pd.merge(
    orders_df,
    customers_df,
    on='CustomerID',
    how='inner',
    indicator=True
)


merged_df

   OrderID  CustomerID  ProductID  Quantity CustomerName _merge
0     1001           1        501         2        Alice   both
1     1002           2        502         1          Bob   both
2     1003           1        503         5        Alice   both
3     1004           3        504         3      Charlie   both

In [8]:
# Task 3


np.random.seed(0)
transactions_df = pd.DataFrame({
    'TransactionID': range(1, 100001),
    'UserID': np.random.randint(1, 1001, size=100000),
    'ProductID': np.random.randint(1, 500, size=100000),
    'Date': pd.date_range(start='2023-01-01', periods=100000, freq='T'),
    'Amount': np.random.uniform(10.0, 1000.0, size=100000)
})
transactions_df.set_index(['UserID', 'ProductID'], inplace=True)
transactions_df['Amount'] = transactions_df['Amount'].astype('float32')
products_df = pd.DataFrame({
    'ProductID': range(1, 501),
    'ProductName': [f'Product_{i}' for i in range(1, 501)],
    'Category': np.random.choice(['A', 'B', 'C', 'D'], size=500)
})

products_df.set_index('ProductID', inplace=True)
start = time.time()
merged_df = transactions_df.join(
    products_df,
    on='ProductID',
    how='left'
)
end = time.time()
end

/tmp/ipykernel_35696/2911922091.py:9: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  'Date': pd.date_range(start='2023-01-01', periods=100000, freq='T'),

1769856384.101024

In [9]:
# Task 4


df_sales = pd.DataFrame({
    'SaleID': [2001, 2002, 2003, 2004, 2005],
    'StoreID': [10, 20, 10, 30, 20],
    'ProductID': [301, 302, 303, 301, 304],
    'UnitsSold': [50, 60, 70, 80, 90]
})

df_suppliers = pd.DataFrame({
    'SupplierID': [401, 402, 403, 404],
    'ProductID': [301, 302, 303, 305],
    'SupplierName': ['Supplier A', 'Supplier B', 'Supplier C', 'Supplier D']
})


df_sales.set_index(['StoreID', 'ProductID'], inplace=True)

merged_df = pd.merge(
    df_sales,
    df_suppliers,
    on='ProductID',
    how='left',
    validate='many_to_one'
)

merged_df

   ProductID  SaleID  UnitsSold  SupplierID SupplierName
0        301    2001         50       401.0   Supplier A
1        302    2002         60       402.0   Supplier B
2        303    2003         70       403.0   Supplier C
3        301    2004         80       401.0   Supplier A
4        304    2005         90         NaN          NaN